{% extends 'base.html.twig' %}

{% block title %}Hello DemandeController!{% endblock %}

{% block body %}
    <h3>Type de demande : {{ demande.type.type }}</h3>
    <ul>
        {% for field,value in demande.details %}
            <li><strong>{{ field }}</strong> : {{ value }}</li>
        {% endfor %}
    </ul>

    {{ form(demandeForm) }}
{% endblock %}